<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nail Previewer Application</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- No Icon Yet: <link rel="shortcut icon" href="favicon.ico" type=""> -->
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css"> -->
    <!-- Custom CSS -->
    <link href="dist/css/styles.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="previewer" class="container-fluid">
        <h1 class="previewer-title">Create your own candy coat style!</h1>
        <div class="row justify-content-center">
        <div class="col-12 col-md-8">
      <div class="row previewer">
        <div class="col-lg-4 col-sm-12 previewer-control">

      <div class="row">
<div class="col-6 col-md-12">
          <label for="preview-control-skin">Choose skin tone</label>
          <input id="preview-control-skin" name="preview-control-skin" type="range" min="1" max="6" step="1" v-model="values.skin">
</div>
<div class="col-6 col-md-12">
          <fieldset class="preview-control-shapes">
            <label for="preview-control-shape">Choose nail shape</label>
            <label for="preview-control-shape-1">
              <input id="preview-control-shape-1" name="preview-control-shape" type="radio" value="0" v-model="values.shape">
              <img src="http://chinaglaze.com/images/tryon/shape_1.jpg" />
            </label>
            <label for="preview-control-shape-2">
              <input id="preview-control-shape-2" name="preview-control-shape" type="radio" value="425" v-model="values.shape">
              <img src="http://chinaglaze.com/images/tryon/shape_4.jpg" />
            </label>
            <label for="preview-control-shape-3">
              <input id="preview-control-shape-3" name="preview-control-shape" type="radio" value="850" v-model="values.shape">
              <img src="http://chinaglaze.com/images/tryon/shape_3.jpg" />
            </label>
            <label for="preview-control-shape-4">
              <input id="preview-control-shape-4" name="preview-control-shape" type="radio" value="1275" v-model="values.shape">
              <img src="http://chinaglaze.com/images/tryon/shape_2.jpg" />
            </label>
            <label for="preview-control-shape-5">
              <input id="preview-control-shape-5" name="preview-control-shape" type="radio" value="1700" v-model="values.shape">
              <img src="http://chinaglaze.com/images/tryon/shape_2.jpg" />
            </label>
            <label for="preview-control-shape-6">
              <input id="preview-control-shape-6" name="preview-control-shape" type="radio" value="2125" v-model="values.shape">
              <img src="http://chinaglaze.com/images/tryon/shape_2.jpg" />
            </label>

        </fieldset>
      </div>
      <div class="col-6 col-md-12">
        <label for="preview-control-length">Choose nail length</label>
        <input id="preview-control-length" name="preview-control-length" type="range"  max="-15" min="-681" step="333" v-model="values.nailLength">
      </div>
    </div>
        </div>
        <div id="output" class="col-4 output" >
          <div id="color" style="position:absolute;width: 315px;height: 400px;z-index:0;" v-bind:style="{backgroundColor:values.color}"></div>
          <div id="hand" v-bind:style="{backgroundPosition: values.nailLength + 'px ' + values.shape + 'px',backgroundImage: 'url(./dist/img/' + values.skin + '.png)'}" style=" width: 315px;
    height: 460px;position:absolute;z-index:1;margin:auto;background-size:1000px;display:block;" >
        </div>


        </div>
        <div class="col-4 colors">
          <fieldset class="preview-colors">
          <label for="preview-color">Choose colour</label>
          <div id="preview-color" style="width:100px;height:100px;border-radius:100%;display:block;" v-bind:style="{backgroundColor:values.color}"></div>
          <label for="preview-color-0">
            <input id="preview-color-0" name="preview-color" type="radio" value="#ebcec0" v-model="values.color" checked>
            <div id="preview-color" style="width:50px;height:50px;border-radius:100%;display:block;background-color:#ebcec0"></div>
          </label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="#eee" v-model="values.color">
            <div id="preview-color" style="width:50px;height:50px;border-radius:100%;display:block;background-color:#eee"></div>
          </label>
          <label for="preview-color-2">
            <input id="preview-color-2" name="preview-color" type="radio" value="#aaa" v-model="values.color">
            <div id="preview-color" style="width:50px;height:50px;border-radius:100%;display:block;background-color:#aaa"></div>
          </label>
          <label for="preview-color-3">
            <input id="preview-color-3" name="preview-color" type="radio" value="#f00" v-model="values.color">
            <div id="preview-color" style="width:50px;height:50px;border-radius:100%;display:block;background-color:#f00"></div>
          </label>
          <label for="preview-color-4">
            <input id="preview-color-4" name="preview-color" type="radio" value="#30f" v-model="values.color">
            <div id="preview-color" style="width:50px;height:50px;border-radius:100%;display:block;background-color:#30f"></div>
          </label>



          </fieldset>

        </div>
      </div>
    </div>
  </div>
</div>


  <!-- bootstrap js if necessary ->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- App JS -->
  <script src="dist/js/app.min.js"></script>
  </body>
</html>
