<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nail Previewer Application</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- No Icon Yet: <link rel="shortcut icon" href="favicon.ico" type=""> -->
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css"> -->
    <!-- Custom CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
<script type="text/javascript">
  WebFont.load({
    google: {
      families:
        ["Questrial:400:latin","Montserrat:400:latin"]
    },
    timeout: 5000
  });
</script>
<style>
*
{
font-family: "Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
font-family:"Montserrat","Helvetica Neue",Arial,sans-serif;
}
</style>
    <link href="dist/css/styles.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="previewer" class="container-fluid">
      <div id="loader" v-show="loading"><img src="./dist/img/loading.gif"></div>

        <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
      <div class="row previewer">
        <div class="col-12 col-lg-4 previewer-control">

          <div class="row">
<div class="col-6 col-lg-12">
          <label for="preview-control-skin">Choose skin tone</label>
          <input id="preview-control-skin" name="preview-control-skin" type="range" min="1" max="6" step="1" v-model.number="skin">
          <label for="preview-control-length" class="d-lg-none">Choose nail length</label>
          <input class="d-lg-none" id="preview-control-length" name="preview-control-length" type="range"  max="-15" min="-681" step="333" v-model="nailLength">

</div>
<div class="col-6 col-lg-12">
          <fieldset class="preview-control-shapes">
            <label for="preview-control-shape">Choose nail shape</label>
            <div class="row">
              <div class="col-4">
            <label for="preview-control-shape-1">
              <input id="preview-control-shape-1" name="preview-control-shape" type="radio" value="0" v-model="shape">
              <img v-bind:src="fakeControl(0)" data-src="./dist/img/shapes/stiletto.png" class="lazy-load"/>
            </label>
          </div><div class="col-4">
            <label for="preview-control-shape-2">
              <input id="preview-control-shape-2" name="preview-control-shape" type="radio" value="425" v-model="shape">
              <img v-bind:src="fakeControl(1)" data-src="./dist/img/shapes/almond.png" class="lazy-load" />
            </label>
            </div><div class="col-4">
            <label for="preview-control-shape-3">
              <input id="preview-control-shape-3" name="preview-control-shape" type="radio" value="850" v-model="shape">
              <img v-bind:src="fakeControl(2)" data-src="./dist/img/shapes/ballerina.png" class="lazy-load" />
            </label>
            </div><div class="col-4">
            <label for="preview-control-shape-4">
              <input id="preview-control-shape-4" name="preview-control-shape" type="radio" value="1275" v-model="shape">
              <img  v-bind:src="fakeControl(3)" class="lazy-load" data-src="./dist/img/shapes/oval.png" />
            </label>
            </div><div class="col-4">
            <label for="preview-control-shape-5">
              <input id="preview-control-shape-5" name="preview-control-shape" type="radio" value="1700" v-model="shape">
              <img v-bind:src="fakeControl(4)" data-src="./dist/img/shapes/round.png" class="lazy-load"/>
            </label>
            </div><div class="col-4">
            <label for="preview-control-shape-6">
              <input id="preview-control-shape-6" name="preview-control-shape" type="radio" value="2125" v-model="shape">
              <img v-bind:src="fakeControl(5)" data-src="./dist/img/shapes/square.png" class="lazy-load"/>
            </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-6 col-lg-12 d-none d-lg-block" >
        <label for="preview-control-length">Choose nail length</label>
        <input id="preview-control-length" name="preview-control-length" type="range"  max="-15" min="-681" step="333" v-model="nailLength">
      </div>
      </div>
        </div>
        <div id="output" class="col-12 col-lg-4 output">
          <div id="output-inner">
          <div id="hand"  v-bind:style="{background: nailLength + 'px ' + shape + 'px url(./dist/img/1.png)'}" v-bind:class="[skin === 1 ? 'top' : '' ]"></div>
          <div id="hand"  v-bind:style="{background: nailLength + 'px ' + shape + 'px url('+ fakeHand(0)+ ')'}" v-bind:class="[skin === 2 ? 'top' : '' ]"></div>
          <div id="hand"  v-bind:style="{background: nailLength + 'px ' + shape + 'px url('+ fakeHand(1)+ ')'}" v-bind:class="[skin === 3 ? 'top' : '' ]"></div>
          <div id="hand"  v-bind:style="{background: nailLength + 'px ' + shape + 'px url('+ fakeHand(2)+ ')'}" v-bind:class="[skin === 4 ? 'top' : '' ]"></div>
          <div id="hand"  v-bind:style="{background: nailLength + 'px ' + shape + 'px url('+ fakeHand(3)+ ')'}" v-bind:class="[skin === 5 ? 'top' : '' ]" ></div>
          <div id="hand"  v-bind:style="{background: nailLength + 'px ' + shape + 'px url('+ fakeHand(4)+ ')'}" v-bind:class="[skin === 6 ? 'top' : '' ]"></div>
          <div id="bg" v-bind:style="{background:color}"></div>
        </div>



        </div>
        <div id="colors" class="col-12 col-lg-4 colors">


          <!-- BLUES -->
          <fieldset class="preview-colors" v-if="family === 'Blues'">
           <a class="color-link" v-if="colorLink !==''" v-bind:href="colorLink" target="_blank">Purchase this colour</a>
          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span>

          </div>


          <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-081?variant=33482690058';" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/081.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-2">
            <input id="preview-color-2" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-082';" name="preview-color" type="radio" value="rgba(77, 92, 107,0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/082.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-3">
            <input id="preview-color-3" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-083';" name="preview-color" type="radio" value="rgba(115, 227, 251, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/083.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-4">
            <input id="preview-color-4" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-084?variant=32422921226';" name="preview-color" type="radio" value="rgba(12, 80, 119, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/084.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-5">
            <input id="preview-color-5" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-084?variant=32422921226';" name="preview-color" type="radio" value="rgba(40, 28, 118, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/088.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-6">
            <input id="preview-color-6" v-on:click="previewer.colorLink = '';" name="preview-color" type="radio" value="rgba(20, 78, 166, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/092.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-7">
            <input id="preview-color-7" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/gel-polish-102';" name="preview-color" type="radio" value="rgba(5, 124, 210, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/102.png'); background-repeat:no-repeat;"></div>
          </label>

          <label for="preview-color-8">
            <input id="preview-color-8" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-103';" name="preview-color" type="radio" value="rgba(23, 17, 121, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/103.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-9">
            <input id="preview-color-9" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-104';" name="preview-color" type="radio" value="rgba(11, 12, 128, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/104.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-10">
            <input id="preview-color-10" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-111?variant=26764768007';" name="preview-color" type="radio" value="rgba(6, 13, 30, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/111.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-11">
            <input id="preview-color-11" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-113';" name="preview-color" type="radio" value="rgba(9, 15, 32, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/112.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-12">
            <input id="preview-color-12" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-117';" name="preview-color" type="radio" value="rgba(6, 15, 34, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/115.png'); background-repeat:no-repeat;"></div>
          </label>

          <label for="preview-color-13">
            <input id="preview-color-13" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-124';" name="preview-color" type="radio" value="rgba(16, 166, 207, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/124.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-14">
            <input id="preview-color-14" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/candy-coat-126';" name="preview-color" type="radio" value="rgba(61, 132, 204, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/126.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-15">
            <input id="preview-color-15" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/gel-polish-127';" name="preview-color" type="radio" value="rgba(37, 122, 223, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/127.png'); background-repeat:no-repeat;"></div>
          </label>
          <label for="preview-color-16">
            <input id="preview-color-16" v-on:click="previewer.colorLink = 'https://www.lovecandycoat.com/products/gel-polish-128';" name="preview-color" type="radio" value="rgba(87, 71, 180, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/blues/128.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>
          <!-- END BlUES -->




          <fieldset class="preview-colors" v-if="family === 'Darks'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="url('./dist/img/colors/patterns/darks/006.png')" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/darks/006.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>






          <fieldset class="preview-colors" v-if="family === 'Greens'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(2, 53, 46, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/greens/085.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>









          <fieldset class="preview-colors" v-if="family === 'Nudes'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>









          <fieldset class="preview-colors" v-if="family === 'Orange'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.86)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>











          <fieldset class="preview-colors" v-if="family === 'Pinks'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>










          <fieldset class="preview-colors" v-if="family === 'Purples'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>









          <fieldset class="preview-colors" v-if="family === 'Reds'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>







          <fieldset class="preview-colors" v-if="family === 'Shimmer'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>










          <fieldset class="preview-colors" v-if="family === 'White'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>








          <fieldset class="preview-colors" v-if="family === 'Yellow'">

          <div id="preview-color"  class="d-none d-lg-block" ><span v-bind:style="{background: color}"></span></div>
            <label for="preview-color" class="color-select">Choose colour</label>
          <label for="preview-color-1">
            <input id="preview-color-1" name="preview-color" type="radio" value="rgba(79, 102, 165, 0.85)" v-model="color">
            <div class="preview-color" style="background-image:url('./dist/img/colors/reds/026.png'); background-repeat:no-repeat;"></div>
          </label>

          </fieldset>

          <hr style="border-top:2px solid black;"/>
          <p style="text-align:center">Select colour family</p>
          <select id="color-selector" v-model="family">
            <option>Blues</option>
            <option>Darks</option>
            <option>Greens</option>
            <option>Nudes</option>
            <option>Orange</option>
            <option>Pinks</option>
            <option>Purples</option>
            <option>Reds</option>
            <option>Shimmer</option>
            <option>White</option>
            <option>Yellow</option>
          </select>

          <hr style="border-top:2px solid black;"/>

        </div>





          </div>
      </div>
    </div>
  </div>



  <!-- bootstrap js if necessary ->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- App JS -->
  <script src="dist/js/app.min.js"></script>
  </body>
</html>
